*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 19px auto;
    max-width: 1341px;
    height: 700px;
    background-color: #138F71;
}
header .navbar{
    height: 102px;
    display: flex;
    justify-content: space-around;
}
header .navbar .logo{
    align-items: center;
    display: flex;
    font-size: 3rem;
    font-weight: 900;
}
.navbar .ul-container{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.navbar .ul-container ul{
    display: flex;
    list-style: none;
}
.ul-container ul li{
    font-size:1.1rem;
    font-weight: 700;
    margin-right: 4rem;
    color: #FFFFFF;
}
.navbar .btn{
    align-items: center;
    display: flex;
}
.navbar .btn a{
    text-decoration: none;
}
.navbar .btn .login, .navbar .btn .singup{
    background-color: #FFFFFF;
    color: #138F71;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    border: 1px solid #fff;
    line-height: 46px;
    padding: 0px 34px;
    margin-right: 10px;
}
.navbar .btn .singup{
    background-color: #066464;
    border: 1px solid #066464;
    color: #FFFFFF;
    margin-left: 10px;
}
header .container{
    display: flex;
    height: 83%;
}
.container .text{
    font-size: 4rem;
    color: #ffff;
    width: 24rem;
    margin: 3rem;
    line-height: 1.3em;
}
.container .text p{
    padding-top: 3rem;
}
.image{
    height: 100%;
    position: relative;
    width: 53%;
    margin: auto;
}
.image .img1{
    position: absolute;
    bottom: 0%;
    left: 13%;
    z-index: 1;
    transform: skewx(-5deg);
}
.image .img2{
    position: relative;
    top: 8%;
    left: 20%;
}
.image .img3{
    position: absolute;
    bottom: 14%;
    right: 0;
    z-index: 2;
    left: 10%;
}